body {
  background-color: #111;
  color: #eee;
}

.hero {
  background-color: #1f1f1f;
  padding: 4rem 2rem;
  text-align: center;
}

.hero img {
  max-width: 200px;
}

.highlight {
  color: #52d957;
}

footer {
  background-color: #222;
  padding: 2rem 1rem;
  color: #ccc;
}

.btn-green {
  background-color: #52d957;
  color: black;
}

.btn-green:hover {
  background-color: #3eb340;
}
